POSTGRES_DB=stockly
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql://postgres:postgres@db:5432/stockly?schema=public
APP_URL=http://localhost:5600
SESSION_SECRET=FoVPewdfooyV8G6yud6a
KIOSK_SECRET=k!osk
AUTO_SEED=true
