POSTGRES_DB=stockly
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
APP_URL=http://localhost:5600
SESSION_SECRET=session-FoVPewdfooyV8G6yud6a
KIOSK_SECRET=k!0sk-FoVPewdfooyV8G6yud6a
COOKIE_SECURE=false
AUTO_SEED=true
