POSTGRES_DB=stockly
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
BASE_PATH=
# Fuer Unterpfad-Deploys z. B.:
# BASE_PATH=/stockly
# Fuer reinen Direktzugriff:
APP_URL=http://localhost:5600
# Hinter einem HTTPS-Reverse-Proxy stattdessen z. B.:
# APP_URL=https://xxx.xxx.xxx/stockly
SESSION_SECRET=session-FoVPewdfooyV8G6yud6a
KIOSK_SECRET=k!0sk-FoVPewdfooyV8G6yud6a
# Hinter HTTPS-Proxy auf true setzen.
COOKIE_SECURE=false
AUTO_SEED=true
